</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <% const date = new Date();%>
  <% const year = date.getYear();%>
  <p>Copyright © 20<%=year-100%></p>
  
</footer>
</body>

</html>